<center>
		<div id="jamtube-logo"><span>Beta</span></div>
		<form action="{{ path('music_create') }}" method="post" {{ form_enctype(form) }} id="music-create-form">		    
		    {{ form_widget(form.youTubeUrl , {'attr': { 'placeholder':'Copy URL here' } }) }}

		    {{ form_rest(form) }}
		        <button id="send-button"type="submit">Send</button>    
		</form>
		<a style="display:none;" id="download-button" href="#" target="_blank"><img src="/bundles/lmarcomusictube/img/download.png" /></a>
</center>	