{% extends 'LMarcoMusicTubeBundle::layout.html.twig' %}
{% block content %}

<h1>Music creation</h1>

<form action="{{ path('music_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('music') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}