<div class="fade modal hide" id="aboutThis">
  <a href="#" data-dismiss="modal">&times;</a>
  This site was created by <a target="_blank" href="http://twitter.com/marcoleong">@marcoleong</a> and <a target="_blank" href="http://twitter.com/marcosantos">@marcosantos</a>.

  Based on these open source project, Symfony, Twitter Bootstrap.
</div>