<div class="fade modal hide" id="aboutThis">
  <a href="#" style="float:right;font-size:150%;" data-dismiss="modal">&times;</a>
  This site was created by<br />  <a target="_blank" href="http://twitter.com/marcoleong">@marcoleong</a> and <a target="_blank" href="http://twitter.com/marcosantos">@marcosantos</a>. 
  <br />
  <br />
  Based on these open source project, <a target="_blank" href="http://symfony.com">Symfony 2</a>, 
  <a target="_blank" href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>,
  <a target="_blank" href="http://jquery.com">jQuery</a>.
</div>