{% extends 'LMarcoMusicTubeBundle::layout.html.twig' %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Progress</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Holiday</td>
      <td>Green Day</td>
      <td>
        Downloading from Youtube
      	<div class="progress">
		      <div class="bar"style="width: 60%;"></div>
  		  </div>
		  </td>
    </tr>
  </tbody>
</table>

{% endblock %}